#chat-view
  = render partial: "shared/sidebar"
  #chat
    = render partial: "shared/main"
    .chat-input
      = form_for [@group, @message] do |f|
        .chat-input__input-box
          = f.text_field :body, class: "chat-input__input-field", placeholder: "Type a message"
          = f.label 'image', { class: "fa fa-image" } do
            = f.file_field :image, style: "display: none;", id: "message_image", class: "chat-input__choose-image-btn"
        = f.submit "Send", class: "chat-input__send-btn"
