.chat-content
  .chat-content__message-list
    - group.messages.each do |message|
      .chat-message{ data: { id: message.id } }
        .chat-message__user-name
          = message.user.name
          %span.chat-message__date-time
            = message.created_at.to_time.strftime('%Y/%m/%d %H:%M:%S')
        .chat-message__message
          - if message.body?
            %p= message.body
            = image_tag message.image.url if message.image.url
          - else
            = image_tag message.image.url
