- unless @group.blank?
  .chat-header
    .chat-header__group-name= @group.name

    .chat-header__edit-btn.button= link_to "Edit", edit_group_path(@group)

    .chat-header__group-members= "MEMBER: #{divide_by_comma(@group.users)}"
  .chat-border

  .chat-content
    .chat-content__message-list
      - @group.messages.each do |message|
        .chat-message
          .chat-message__user-name
            = message.user.name
            %span.chat-message__date-time
              = message.created_at.to_time.strftime('%Y/%m/%d %H:%M:%S')
          .chat-message__message
            - if message.body?
              = message.body
            - else
              = image_tag message.image.url
