- unless @group.blank?
  .chat-header
    .chat-header__group-name= @group.name

    .chat-header__edit-btn.button= link_to "Edit", edit_group_path(@group)

    .chat-header__group-members= "MEMBER: #{divide_by_comma(@group.users)}"
  .chat-border

  = render partial: "shared/chat-content", locals: {group: @group}
