- unless @group.blank?
  .chat-header
    .chat-header__group-name= @group.name

    .chat-header__edit-btn.button= link_to "Edit", edit_group_path(@group)

    .chat-header__group-members= "MEMBER: #{@users_names.join(", ")}"

  .chat-border

  .chat-content
    .chat-content__message-list
      - @group.messages.each do |m|
        .chat-message
          .chat-message__user-name
            = m.user.name
            %span.chat-message__date-time
              = m.created_at.to_time.strftime('%Y/%m/%d %H:%M:%S')
          .chat-message__message
            - if m.body?
              = m.body
            - else
              = image_tag m.image.url
