#sidebar
  .sidebar-header
    %span.sidebar-header__user-name= current_user.name
    = link_to (fa_icon "pencil-square-o"), new_group_path, class: "sidebar-header__new-group-btn"
    = link_to (fa_icon "cog"), edit_user_registration_path, class: "sidebar-header__edit-account-btn"

  .sidebar-group-list
    - unless current_user.groups.empty?
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "sidebar-group-list__group chat-group" do
          %p.chat-group__name= group.name
          %p.chat-group__message
            = latest_message_or_status_message(group)
